.PersonalDataContainer {
  width: 100%;
  border: 0.1rem solid #00000033;
  border-radius: 1rem;
  padding: 1.3rem 1.7rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.PersonalDataHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.PersonalDataHeader button {
  color: #009eca;
  outline: none;
  border: none;
  background-color: transparent;
  font-size: 1.4rem;
  font-weight: 400;
  text-align: left;
}

.PersonalDataTitle {
  font-size: 1.6rem;
  font-weight: 400;
}

.PersonalDataItems {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.PersonalDataItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

.PersonalDataItem p {
  font-size: 1.4rem;
  font-weight: 300;
  text-align: center;
}

.PersonalDataItem p:last-child {
  font-weight: 400;
}

/* =------- */

.PersonalDataContainer form {
  width: 100%;
}

.PersonalDataEditItem {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-end;
  gap: 0.2rem;
  width: 100%;
}

.PersonalDataItemInput {
  width: 100%;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
}

.PersonalDataItemInput p {
  display: inline-block;
  width: 20%;
}

.PersonalDataItemInput input,
.PersonalDataItemInput select {
  width: inherit;
  border-radius: 0.6rem;
  border: 0.1rem solid #00000040;
  padding: 0.5rem;
  outline: 0.1rem solid transparent;
}

.PersonalDataItemInput input:focus,
.PersonalDataItemInput select:focus {
  outline: 0.1rem solid var(--primary);
}

.PersonalDataEditButton {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 1rem 0;
}

.PersonalDataEditButton button {
  width: 48%;
  padding: 0.5rem 0;
  border: none;
  outline: none;
  background-color: var(--primary);
  border-radius: 0.5rem;
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--baseColor);
}

.PersonalDataEditButton button:last-child {
  background-color: var(--baseColor);
  color: var(--primary);
  border: 0.1rem solid var(--primary);
}

.PersonalDataError {
  color: red;
  margin: 0.5rem 0;
  height: 1.5rem;
  display: block;
}
