.header {
}

.mobileHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1.5rem;
}

.mobileMenu {
  position: fixed;
  top: 0;
  bottom: 0;
  right: -100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: var(--baseColor);
  height: 100vh;
  width: 50%;
  z-index: 2;
  padding-top: 3rem;
  border-radius: 1.2rem 0 0 1.2rem;
  transition: all 0.3s ease-in;
}

.cover {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  /* background-color: var(--textColor); */
  background-color: rgba(0, 0, 0, 0.603);
  z-index: 1;
  filter: brightness(0.9);
  transition: all 0.5s ease-in;
}

.mobileMenu__active {
  right: 0;
}

.mobileMenuLogo {
  width: 100%;
  display: flex;
  justify-content: center;
}

.mobileMenuLogo svg {
  height: 3rem;
}

.mobileMenuList {
  display: flex;
  flex-direction: column;
  list-style: none;
  width: 100%;
}

.mobileMenuList li {
  padding: 15px;
  color: var(--textColor);
  cursor: pointer;
  font-weight: bold;
  transition: all 0.3s ease-in;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 0.8rem;
  font-weight: 400;
  font-size: 1rem;
}

.mobileMenuList li:hover {
  background-color: var(--primary);
  color: var(--baseColor);
}

.mobileMenuList li:hover path {
  fill: var(--baseColor);
}

/* .mobileMenuList li:nth-child(2):hover svg {
  fill: "none";
} */

.desktopHeader {
  display: none;
  justify-content: space-between;
  align-items: center;
  padding-top: 1.5rem;
}

/* Responsive - Mobile First */

/* Small Device Size */
@media screen and (min-width: 450px) {
}

/* Mobile Size */
@media screen and (min-width: 576px) {
  .mobileHeader {
    display: none;
  }

  .desktopHeader {
    display: flex;
  }

  .desktopHeaderRight {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .desktopMenuLogo svg {
    width: 5rem;
  }

  .desktopHeaderRight ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    list-style: none;
  }

  .desktopHeaderRight ul li:hover {
    color: var(--primary);
  }

  .desktopHeaderLeft {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--primary);
    border: 0.1rem solid var(--primary);
    border-radius: 0.8rem;
    font-weight: 500;
    font-size: 0.8rem;
    padding-left: 0.3rem;
    cursor: pointer;
  }

  .desktopHeaderLeft:hover {
    color: var(--baseColor);
    background-color: var(--primary);
    transition: all 0.3s ease-in;
  }

  .desktopHeaderLeft:hover path {
    fill: var(--baseColor);
    transition: fill 0.3s ease-in;
  }
}

/* Tablet Size */
@media screen and (min-width: 768px) {
}

/* Laptop Size */
@media screen and (min-width: 992px) {
}

/* Desktop Size */
@media screen and (min-width: 1200px) {
}
/* special size */
/* @media screen and (max-width: 000px) {
} */
