.header {
  margin-bottom: 0.8rem;
}

.mobileHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1.5rem;
}

.cover {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.603);
  z-index: 1;
  filter: brightness(0.9);
  transition: all 0.5s ease-in;
}

/* .mobileMenuList li:nth-child(2):hover svg {
  fill: "none";
} */

.desktopHeader {
  display: none;
  justify-content: space-between;
  align-items: center;
  padding-top: 1.5rem;
}

.userLoggedContainer {
  position: relative;
}

.userLogged {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary);
  font-weight: 600;
  gap: 0.1rem;
  font-size: 1rem;
}

.rotateUp {
  transform: rotate(180deg);
  transition: transform 0.3s ease;
}

/* Responsive - Mobile First */
/* Mobile Size */
@media screen and (min-width: 576px) {
  .mobileHeader {
    display: none;
  }

  .desktopHeader {
    display: flex;
  }
}
