.container {
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

/* Responsive - Mobile First */

/* Small Device Size */
@media screen and (min-width: 450px) {
  .container {
    width: 100%;
    padding: 0 1rem;
  }
}

/* Mobile Size */
@media screen and (min-width: 576px) {
  .container {
    width: 44rem;
    position: relative;
  }

  .topImage img {
    height: 25rem;
  }
}

/* Tablet Size */
@media screen and (min-width: 768px) {
  .container {
    width: 55.6rem;
  }

  .topImage img {
    height: 30rem;
  }
}

/* Laptop Size */
@media screen and (min-width: 992px) {
  .container {
    width: 73rem;
  }

  .topImage img {
    height: 35rem;
  }
}

/* Desktop Size */
@media screen and (min-width: 1200px) {
  .container {
    width: 95.2rem;
  }
}
